{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'MCBase/js/jquery-ui-1.11.4.custom/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'Annotator/css/index.css' %}">
  <script type="text/javascript" src="{% static 'Annotator/js/overlay.js' %}"></script>
{% endblock %}

{% block title %}
  mcatDB
{% endblock %}

{% block body_block %}
  <div class="content">


    <div id="box">
          <img src="http://i.imgur.com/O712qpO.jpg" alt="" />
    </div>





  </div>
{% endblock %}
