{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'Annotator/js/pdf.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'Annotator/js/ui_utils.js' %}"></script>
  <script type="text/javascript" src="{% static 'Annotator/js/viewer.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Annotator/css/viewer.css' %}">
{% endblock %}

{% block title %}
  jcdb
{% endblock %}

{% block body_block %}
<div class="content">
  <div id="pdfContainer" class="pdf-content">
      <canvas id="the-canvas"></canvas>
  </div>
</div>
{% endblock %}
