{% extends "MCBase/base.html" %}
{% load staticfiles %}
{% load MCBase_templatetags %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'Annotator/js/pdf.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'Annotator/js/ui_utils.js' %}"></script>
  <script type="text/javascript" src="{% static 'Annotator/js/display_pdf.js' %}"></script>
  <script type="text/javascript" src="{% static 'Annotator/js/annotation_interface.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Annotator/css/viewer.css' %}">

  <script>
    pdf_url = "{{ document.docfile.url }}"
    pdf_numpages = "{{ num_pages }}"

  </script>

{% endblock %}

{% block title %}
  jcdb
{% endblock %}

{% block body_block %}
<div class="content">

  {% for i in num_pages|get_range %}
    <div id="pdfContainer-{{i|add:1}}" class="pdf-content">
        <canvas id="the-canvas-{{i|add:1}}" class="the_canvas"></canvas>
    </div>
    <br />
  {% endfor %}

  <!--
  <div id="pdfContainer" class="pdf-content">
      <canvas id="the-canvas"></canvas>
  </div>
  -->


</div>
{% endblock %}
