{% load staticfiles %}
{% load MCBase_templatetags %}

<html>

  <head>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <script src="{% static 'MCBase/js/jquery-2.1.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pdfjs/css/viewer_notes.css' %}"/>
    <script src="{% static 'pdfjs/js/viewer_notes.js' %}"></script>
    <script>
      url_deletenotetext = "{{ url_deletenotetext }}"
      csrf_token = "{{ csrf_token }}"
      url_editNotetext = "{{url_editNotetext}}"
      url_replynote = "{{url_replynote}}"
    </script>
  </head>


  <body>
    {% for note in notes %}
      <!-- if you modify, you should also change appendNote() in viewer_notes.js -->
      <div pagenumber="{{ note.page_number }}" id="note{{note.pk}}" class="note">
        <div id="replybox{{note.pk}}">
        {% for notetext in note.notetext_set.all %}
          {% if forloop.counter == 1 %}
            <div id="notetext{{notetext.pk}}">
          {% else %}
            <div id="notetext{{notetext.pk}}" class="not-first-post">
          {% endif %}

          <div id="notetextonly{{notetext.pk}}">
            {{ notetext.text }}
          </div>
          <div class="signature left">
            --{{ notetext.user.userprofile.getName }}, {{ notetext.time|age }}
          </div>
          {% if request.user.pk == notetext.user.pk %}
            <div class="right signature edit_button">
              <a notepk="{{note.pk}}" pk="{{notetext.pk}}" class="delete-link">delete</a>
              <a pk="{{notetext.pk}}" class="edit-link">edit</a>
            </div>
            <div id="editform{{notetext.pk}}" class="hidden">
              <form class="note-form" role="form" action="{% url 'pdfjs:editNotetext' %}" method=POST>
                {% csrf_token %}
                <input type="hidden" name="notetext_pk" value="{{ notetext.pk }}" />
                    <textarea name="form_text" cols="10" rows="5">{{ notetext.text }}</textarea>
              </form>
              <button class="edit-button">submit edit</button>
            </div>
          {% endif %}
          <div style="clear: both;"></div>
          </div>
        {% endfor %}
        </div>
        <div id="replyfooter{{note.pk}}">
          <a notepk="{{note.pk}}" class="note_footer zoom left">zoom</a>
          <a pk="{{note.pk}}" class="note_footer reply-link right">reply</a>
        </div>
        <div style="clear: both;"></div>
        <div id="replyform{{note.pk}}" class="hidden replyform">
          <form class="note-form" role="form" action="{% url 'pdfjs:replyNote' %}" method=POST>
            {% csrf_token %}
            <input type="hidden" name="note_pk" value="{{ note.pk }}" />
            <textarea id="textarea{{note.pk}}" name="form_text" cols="10" rows="5"></textarea>
          </form>
          <button class="reply-button">submit</button>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
