{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'pdfjs/css/index.css' %}">

{% endblock %}

{% block title %}
  Uploader
{% endblock %}



{% block body_block %}
  <iframe frameborder="0" style="height: 90%; overflow:hidden; width: 100%" src="{% url 'pdfjs:viewer_raw' document_pk %}" marginheight="1" marginwidth="1" name="cboxmain" id="cboxmain" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true">
  </iframe>
{% endblock %}
