{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'pdfjs/css/index.css' %}">

{% endblock %}

{% block title %}
  Uploader
{% endblock %}



{% block body_block %}
<table>

<!-- trigger events across iframes -->
<!-- http://stackoverflow.com/questions/7228708/trigger-from-iframe-to-sibling-iframe -->
<!-- http://stackoverflow.com/questions/6697364/triggering-a-jquery-event-from-iframe -->

<div class="box1">
    <iframe style="height: 90%; width: 100%" src="{% url 'pdfjs:viewer_raw' document_pk %}">
    </iframe>
</div>
<div class="box2">
    <iframe style="height: 90%; width: 100%" src="{% url 'pdfjs:index' %}">
    </iframe></td>
</div>

{% endblock %}
