/* for viewer_original.html */
.note {
  z-index: 200000;
  position: absolute;
  background-color: rgba(215, 218, 47, 0.8);
}
.page {
  z-index: 100000  !important;
}

/* for viewer_iframe.html */
.navbar {
  margin-bottom: 0;
}

textarea {
  background-color: rgba(215, 218, 47, 0.8);
}
