.note {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.10in;
  padding-bottom: 0.05in;
  border-radius: 0.2in;
  margin-bottom: 20px;
  position: relative;
}

.not-first-post {
  background-color: white;
  margin-left: 20px;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  border-radius: 0.25in;
  margin-top: 5px;
}

.signature {
  font-size: 12px;
  color: grey;
}

.left {
  float: left;
}

.right {
  float: right;
}

textarea {
  width: 100%;
}

.note-form {
  margin: 0;
}

.note_footer {
  cursor: pointer;
  font-size: 11px;
  color: blue;
}



.hidden {
  display: none;
}

.edit_button {
  color: blue !important;
  cursor: pointer
}
