{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Groups/css/adminTools.css' %}">
  <script src="{% static 'Groups/js/groupAdminPanel.js' %}"></script>
{% endblock %}

{% block title %}
  admin tools
{% endblock %}



{% block body_block %}
  <h1>
    <a href="{% url 'Groups:groupMemberView' group.pk %}">
      Back to group
    </a>
  </h1>

  {% if group.openForNewMembers %}
    <div class=box>
      If you want to invite more members to your group,
      copy-paste-send the the following email to them:
      <div class="small-box">
        I am inviting you to join my online journal club group <b>{{ group.name }}</b>. <br />
        To join, go to the following link:<br />
        <a href="http://{{ request.META.HTTP_HOST }}{% url 'Groups:joinGroupInterface' group.pk %}">{{ request.META.HTTP_HOST }}{% url 'Groups:joinGroupInterface' group.pk %}</a><br />
        Then, type the following secret key into the prompt:
        <span class="red"><b>{{ group.password }}</b></span><br />
        See you soon!
      </div>
    </div>
  {% else %}
    <div class=box>
      If you want to invite more members to your group,
      first open the group to new members.
    </div>
  {% endif %}


  <div class=box>
    <b>Group name:</b>
    <br />
    {{ group.name }}
    <br />
    <a pk="{{group.pk}}" class="edit-link pointer">click to edit</a>
    <div class="editform" style="display: none;">
      <form class="note-form" role="form" action="{% url 'Groups:changeGroupName' group.pk %}" method=POST>
        {% csrf_token %}
        <textarea name="form_text" rows="1">{{ group.name }}</textarea>
        <button class="btn btn-primary" type="submit">submit edit</button>
      </form>
    </div>
  </div>

  <div class=box>
    <b>Invitation secret key:</b>
    <br />
    {{ group.password }}
    <br />
    <a pk="{{group.pk}}" class="edit-link pointer">click to edit</a>
    <div class="editform" style="display: none;">
      <div class="red">
        Warning: this secret key is public and sent to all members you invite to your group. <br />
        Do not use a sensitive passphrase (like your email or bank account)
      </div>
      <form class="note-form" role="form" action="{% url 'Groups:changeGroupPassword' group.pk %}" method=POST>
        {% csrf_token %}
        <textarea name="form_text" rows="1">{{ group.password }}</textarea>
        <button class="btn btn-primary" type="submit">submit edit</button>
      </form>
    </div>
  </div>

  <div class=box>
    <b>Group membership:</b>
    <br />
      {% if group.openForNewMembers %}
        Membership is <b>OPEN</b>
      {% else %}
        Membership is <b>CLOSED</b>
      {% endif %}
    <br />
    <a pk="{{group.pk}}" class="edit-link pointer">click to edit</a>
    <div class="editform" style="display: none;">
      <form style="margin: 5; padding: 5;" action="{% url 'Groups:changeAcceptingNewMembers' group.pk %}" method="POST">
        {% csrf_token %}
        <span>
          {% if group.openForNewMembers %}
            <input type="radio" name="membership_option" value="open" checked> open &nbsp; &nbsp; &nbsp;
            <input type="radio" name="membership_option" value="closed"> closed &nbsp; &nbsp; &nbsp;
          {% else %}
            <input type="radio" name="membership_option" value="open"> open &nbsp; &nbsp; &nbsp;
            <input type="radio" name="membership_option" value="closed" checked> closed &nbsp; &nbsp; &nbsp;
          {% endif %}
          <button class="btn-sm btn-primary" type="submit">change</button>
        </span>
      </form>
    </div>
  </div>

  <div class=box>
    <b>User permissions:</b>
    <br />
    <a pk="{{group.pk}}" class="edit-link pointer">click to edit</a>
    <div class="editform" style="display: none;">

      {% for admin in admins %}
        <div class="small-box">
          <form style="margin: 5; padding: 5;" action="{% url 'Groups:changePermissions' admin.pk group.pk %}" method="POST">
            {% csrf_token %}
            {{ admin.userprofile.getName }}:
            Administrator
            <span style="float:right">
              <input type="radio" name="permission" value="admin" checked> administrator &nbsp; &nbsp; &nbsp;
              <input type="radio" name="permission" value="moderator"> moderator &nbsp; &nbsp; &nbsp;
              <input type="radio" name="permission" value="member"> member &nbsp; &nbsp; &nbsp;
              <input type="radio" name="permission" value="remove"> remove &nbsp; &nbsp; &nbsp;
              <button class="btn-sm btn-primary" type="submit">change</button>
            </span>
          </form>
        </div>
    {% endfor %}

    {% for moderator in moderators %}
      <div class="small-box">
        <form style="margin: 5; padding: 5;" action="{% url 'Groups:changePermissions' moderator.pk group.pk %}" method="POST">
          {% csrf_token %}
          {{ moderator.userprofile.getName }}:
          Moderator
          <span style="float:right">
            <input type="radio" name="permission" value="admin"> administrator &nbsp; &nbsp; &nbsp;
            <input type="radio" name="permission" value="moderator" checked> moderator &nbsp; &nbsp; &nbsp;
            <input type="radio" name="permission" value="member"> member &nbsp; &nbsp; &nbsp;
            <input type="radio" name="permission" value="remove"> remove &nbsp; &nbsp; &nbsp;
            <button class="btn-sm btn-primary" type="submit">change</button>
          </span>
        </form>
      </div>
  {% endfor %}

  {% for member in members %}
    <div class="small-box">
      <form style="margin: 5; padding: 5;" action="{% url 'Groups:changePermissions' member.pk group.pk %}" method="POST">
        {% csrf_token %}
        {{ member.userprofile.getName }}:
        Member
        <span style="float:right">
          <input type="radio" name="permission" value="admin"> administrator &nbsp; &nbsp; &nbsp;
          <input type="radio" name="permission" value="moderator"> moderator &nbsp; &nbsp; &nbsp;
          <input type="radio" name="permission" value="member" checked> member &nbsp; &nbsp; &nbsp;
          <input type="radio" name="permission" value="remove"> remove &nbsp; &nbsp; &nbsp;
          <button class="btn-sm btn-primary" type="submit">change</button>
        </span>
      </form>
    </div>
  {% endfor %}


    </div>
  </div>

  <div class=box>
    <b>Delete group:</b>
    <div class="red">
      Warning: this is permanent. Group will be removed from all group members.
    </div>
    <a href="{% url 'Groups:deleteGroup' group.pk %}">Click to delete</a>
  </div>

{% endblock %}
